@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: linear-gradient(to right,#2c5364,#203a43,#0f2020);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
}
.box{
    width: 450px;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.288);
    border-radius: 23px;
    flex-direction: column;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.box img{
    width: 290px;
    height: 290px;
    border-radius: 290px;
    margin-top: 5px;

 }
.user-name{
    margin-bottom: 5px;
    font-size: 2rem;
    margin-top: 20px;
}
.skills{
    color: rgba(255,255, 255, 0.555);
    font-weight: bolder;
    width: 100%;
}
/* arrow */
.arr_container,.cancel{
    position: absolute;
    width: 50px;
    height: 50px;
    background:white;
    bottom: 0;
    right: 0;
    border-radius: 23px 0 23px 0;
    color: rgb(70, 70, 70);
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .4s;
}
.arr_container i{
    transform: rotate(45deg);
    font-size: 1.6rem
}
.active-arr{
    transform: translate(80%,80%);
}
.left_container{
    position: absolute;
    background: #0f2027;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding:70px 0 0 50px;
    transition: all .4s;
    width: 100%;
}
.off{
    transform: translate(-89%,-87%);
}
.active{
    transform: translate(0),rotate(0);
}
.left_container p{
    margin-bottom:40px;
    font-size: 1.9rem;
}
.left_container .skills{
    transition: all .4s;
}
.left_container .icons i:hover{
    color: #2c5364;
}

.left_container .skills div{
    display:inline-block;
    color: rgb(155, 155, 155);
    border: 1px solid rgb(155, 155, 155);
    padding: 5px 10px;
    font-size: 1.3rem;
    margin: 4px 4px 4px 0;
}
.left_container .icons{
    font-size: 2.5rem;
    margin-top: 40px;
}
.left_container .icons i{
    color: #cfcfcf;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 20px;
}
